{#**
 * Copyright since 2013 Thomas Roux
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/MIT
 *
 * @author    Thomas Roux <contact@okom3pom.com>
 * @copyright Since 2013 Thomas Roux
 * @license   https://opensource.org/licenses/MIT MIT License
 *#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% form_theme customerConfigurationForm 'PrestaShopBundle:Admin/TwigTemplateForm:prestashop_ui_kit.html.twig' %}
{% block content %}

  <div class="page-head-tabs" id="head_tabs">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="#" id="subtab-Customer" class="nav-link tab {% if app.request.get("order") != 1 %}active current{% endif %}>">
          {{ 'Hide Customer Columns'|trans }}
        </a>
      </li>

      <li class="nav-item">
        <a href="#" id="subtab-Order" class="nav-link tab {% if app.request.get("order") == 1 %}active current{% endif %}">
          {{ 'Hide Order Columns'|trans }}
        </a>
      </li>
    </ul>
  </div>

  {{ form_start(customerConfigurationForm, {attr : {class: 'form'}}) }}
    <div class="row justify-content-center" id="customer-form" {% if app.request.get("order") == 1 %}style="display:none"{% endif %}>
      {% block hide_customer_columns %}
        <div class="col">
          <div class="card">
            <h3 class="card-header">
              <i class="material-icons">business_center</i> {{ 'Hide Customer Columns'|trans }}
            </h3>
            <div class="card-block row">
              <div class="card-text">
                {% block hide_customer_columns_form %}
                  {{ form_widget(customerConfigurationForm) }}
                {% endblock %}
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
    </div>
  {{ form_end(customerConfigurationForm) }}

  {{ form_start(orderForm, {attr : {class: 'form'}}) }}
    <div class="row justify-content-center" id="order_form" {% if app.request.get("order") != 1 %}style="display:none"{% endif %}>
      {% block hide_order_columns_cache %}
        <div class="col">
          <div class="card">
            <h3 class="card-header">
              <i class="material-icons">business_center</i> {{ 'Hide Order Columns'|trans }}
            </h3>
            <div class="card-block row">
              <div class="card-text">
                {% block hide_order_columns_cache_form %}
                  {{ form_widget(orderForm) }}
                {% endblock %}
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
    </div>
  {{ form_end(orderForm) }}

{% block javascript %}
  {% raw %}
  <script>
    $( "#subtab-Order" ).click(function() {
      $( "#order_form" ).show("slow");
      $( "#customer-form" ).hide("slow");
      $( "#subtab-Order" ).addClass('active current');
      $( "#subtab-Customer" ).removeClass('active current');
    });
    $( "#subtab-Customer" ).click(function() {
      $( "#order_form" ).hide("slow");
      $( "#customer-form" ).show("slow");
      $( "#subtab-Customer" ).addClass('active current');
      $( "#subtab-Order" ).removeClass('active current');
    });
  </script>
  {% endraw %}
{% endblock %}

{% endblock %}
